body { background: #79e52b; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 50px; display: flex; }
.block-cache-0 { color: #292d67; font-size: 12px; margin-bottom: 5px; }
.block-token-1 { color: #b6816d; font-size: 16px; margin-bottom: 5px; }
.block-token-2 { color: #bdd500; font-size: 16px; margin-bottom: 5px; }
.block-shipping-3 { color: #e188b0; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #8db00f; font-size: 20px; margin-bottom: 5px; }